discord.py
aiosqlite
aiozaneapi
validators
PyYAML
humanize
psutil
pur
aiohttp
Pillow
aiofiles
wavelink
asyncpraw
pytz
wikipedia
gTTS
async_cleverbot
mystbin.py
sr_api
jishaku
pygit2
waiting
git+https://github.com/XuaTheGrate/python-cse
